@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/opensans-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.datepicker {
	z-index:1051 !important;
}

.dataTables_wrapper input[type="checkbox"] {
	width:13px;
}

.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align:middle;
	line-height:auto;
}
.dataTables_length, .dataTables_filter {
	float:left;
}
.dataTables_info, .dataTables_paginate {
	float:left;
}

.dataTables_info, .dataTables_paginate a{
	margin-left:20px;
	cursor:pointer;
}
